{% block sidebar %}
        
        <style>
            .card {
                box-shadow: 0 16px 48px #E3E7EB;
            }
        </style>
        
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
            <div class="card my-4">
                <h5 class="card-header">About Us</h5>
                <div class="card-body">
                    <p class="card-text"> This awesome blog is made on one of the most awesome web framwork, Django.</p>
                    <a href="https://www.djangoproject.com/" class="btn btn-danger">Learn
                        more about Django!</a>
                </div>
            </div>
        </div>
        
        {% endblock sidebar %}